html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	background-color: rgb(170,248,248);
}
.header {
  font-size: 32px;
  background-color: blue;
  padding: 10px;
  color: white
}

.header-link {
	text-decoration: none;
}

.sidebar {
  background-color: white;
  width: 300px;
  height: 100vh;
  font-size: 28px;
  float: left;
  display: flex;
  flex-direction: column;
  
  
}

.home{
  padding: 20px;
  text-decoration: none;
  color: black
}

.article {
  padding: 20px;
  text-decoration: none;
  color: black
}

.home-page {
	margin-left: 400px;
}
.home-page h2 {
	font-size: 26px;
	padding: 40px
}
.article-btn {
	width: 35%;
	padding: 20px;
	border-radius: 5px;
	border: none;
	color: black;
	font-size: 28px;
	background-color: white;
	box-shadow: 1px 1px 20px rgb(81, 80, 80);
}

.search {
	margin: 20px;
	padding: 10px;
	font-size: 20px;
}

.title {
	font-size: 25px;
}

.item {
	margin: 20px;
	padding: 5px;
	padding-left: 140px
}

.goback {
	margin: 20px;
	font-weight: bold
}

.msg {
	font-size: 24px;
}

.error {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	padding: 50px;
}